﻿@{
    ViewBag.Title = "Trang Chủ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           
        </div>
    </section>
}
<h3>Chăm sóc sức khỏe</h3>
<ol class="round">
    <li class="one">
       
       
    </li>

    <li class="two">
        
    </li>

    <li class="three">
      
    </li>
</ol>
