﻿@model MvcApplication2.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TiTle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TiTle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BoDy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BoDy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCreated)
    </div>
</fieldset>

@Html.Partial("_addComment", new MvcApplication2.Models.Comment(), ViewData);


<fieldset>
    <legend>Comment</legend>
    @foreach(var Comment in Model.Comments.OrderByDescending(x=>x.DataCreated).Take(5))
    {
         <div class="display-field">
       <h2>Cach day: @Html.DisplayFor(x => Comment.LastTime)
    </div>
         <div class="display-field">
        @Html.DisplayFor(x => Comment.BoDy)
    </div>
    }
</fieldset>



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
