﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         <h2>@Html.DisplayNameFor(model => model.Title)</h2>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         <h2>@Html.DisplayNameFor(model => model.Body)</h2>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         <h2>@Html.DisplayNameFor(model => model.DateCreated)</h2>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         <h2>@Html.DisplayNameFor(model => model.UserProfile.UserName)</h2>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>




<h2>Add Comment</h2>
@Html.Partial("_addComment", new Blog.Models.Comment(), ViewData)

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreate).Take(10))
    {
        <div class="display-field">
            <h5> Cách đây @Html.DisplayFor(x => comment.LastTime) phút</h5>
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
