﻿@model Blog_t6.Models.Comment

@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "my-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>add Comment</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>*@
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        @Html.Hidden("idpost",ViewData["idpost"])
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<script src="~/Scripts/addComments.js"></script>