﻿@model Blog_t6.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.account.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.account.Password)
    </div>
</fieldset>

@Html.Partial("_addComment", new Blog_t6.Models.Comment(), ViewData);



<fieldset>
<legend>Comment</legend>
    <div id="result">
    @foreach(var Comment in Model.Comments.OrderByDescending(x=>x.DateCreate).Take(10))
    {
        <div class="display-field">
        @Html.DisplayFor(x =>Comment.Body)
    </div>
           <div class="display-field">
       <h2>cach day @Html.DisplayFor(x =>Comment.lastTime) phut</h2>
    </div>
    }

        </div>
    </fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
